<!DOCTYPE html>
<head>
  {% include ad.html %}
  <html class="no-js">
  {% include head.html %}
  {% include header.html %}
</head>
  <body>
    <div class="content">
      {{ content }}
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-format="fluid"
        data-ad-layout-key="-e9+3x+jp-5u-1cp"
        data-ad-client="ca-pub-7368406244723287"
        data-ad-slot="3693638127"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
    </div>
    {% include footer.html %}
  </body>
</html>
