---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.feature-title | default: page.title }}</h1>
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
  </header>
  <section class="post-content">{{ content }}</section>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-format="fluid"
        data-ad-layout-key="-e9+3x+jp-5u-1cp"
        data-ad-client="ca-pub-7368406244723287"
        data-ad-slot="3693638127"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</article>
